.header{
    color: blue;
    justify-content: space-between;
    margin-top: -40px;
    width: 200px;
}

.login{
    color: blue;
    font:oblique;
    border: 2px solid blue;
    border-radius: 10px;
    padding-left: 20px;
    width: 200px;
    height: 230px;
    margin-left: 500px;
    margin-top: 90px;
}
#login{
    background-color:blue;
    color: white
}
#reg_link{
    margin-left: 920px;
}