<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='fav_orders.css') }}">
</head>
<body>
    <div class="container">
        <div class="bar">
            <a id="bar_id"href="/home">Home</a>
            <a id="bar_id" href="/purchase_page">Order</a>
            <a id="bar_id" href="/update_user_page/{{users.id}}">Account</a>
            <a id="bar_id" href="/logout">Logout</a>
        </div>
        <div class="header">
            <h1>Isaiah's Pizza!</h1>
            <p>Hey, {{session['first_name']}}!</p>
        </div>
        <h1 id="order">Your Favorite Orders!</h1>
        {% for order in favorites %}
        <div class="orders">
            <p>Date: {{order.created_at}}</p>
            <p>Method: {{order.method}}</p>
            <p>Toppings:{{order.toppings}}</p>
            <p>Size: {{order.size}}</p>
            <p>Crust: {{order.crust}}</p>
            <p>Qty: {{order.quantity}}</p>
            <h3>Price: ${{order.quantity * 8.00 + 0.59}} </h3>
        </div>
        {% endfor %}
        
    </div>
</body>
</html>