<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{{ url_for('static', filename='home_page.css') }}">
    <title>Document</title>
</head>
<body>
<div class="container">
    <div class="bar">
        <a id="bar_id"href="/home">Home</a>
        <a id="bar_id" href="/purchase_page">Order</a>
        <a id="bar_id" href="/update_user_page/{{users.id}}">Account</a>
        <a id="bar_id" href="/logout">Logout</a>
    </div>
    <div class="header">
        <h1>Isaiah's Pizza!</h1>
        <p>Hey, {{session['first_name']}}!</p>
    </div>
    <br>
    <br>
    <div class="option_header">
        <h2>Quick Options</h2>
    </div>
    <div class="options">
        <div class="new_order">
            <a href="/new_order_page">New Order!</a>
            <br>
            <br>
            <br>
            <img src="/static/Pizza-vector-clipart.png" alt="pizza" id="pizza_picture">
        </div>
        <div class="fav_order">
            <a href="/favorite_order">Favorite Orders!</a>
            <br>
            <br>
            <br>
            <img src="/static/fav_pizza.png" alt="pizza" id="pizza_picture">
        </div>
    </div>
</div>
</body>
</html>