.header{
    color: blue;
    justify-content: space-between;
    margin-top: -40px;
}
.bar{
    background-color: white;
    color: blue;
    margin-left: 990px;
    width: 400px;
    font-size: larger;
    padding-left: 10px;
    display: inline;
}
#button{
    background-color:blue;
    color: white
}